<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POP Share Library</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/script.js" defer></script>
    <link rel="icon" href="images/favicon.svg" type="image/svg+xml" />
    <link rel="shortcut icon" href="/pic/icon.ico" />
    <section class="hero">
      <h1 class="title fadein">POP Share Library</h1>
    </section>
    <!--Webアイコン-->
    <!-- <link rel="shortcut icon" href="/pic/icon.ico" type="image/x-icon"> -->
  </head>

  <body class="bodyimg">
    <!--ナビゲーションバー-->
    <nav>
      <button id="menu-open" class="btn-menu">
        <svg
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="https://www.w3.org/2000/svg"
        >
          <title>メニューを開く</title>
          <path
            clip-rule="evenodd"
            d="m4.25 8c0-.41421.33579-.75.75-.75h14c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-14c-.41421 0-.75-.33579-.75-.75zm0 4c0-.4142.33579-.75.75-.75h14c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-14c-.41421 0-.75-.3358-.75-.75zm.75 3.25c-.41421 0-.75.3358-.75.75s.33579.75.75.75h14c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </button>
      <div id="menu-panel">
        <button id="menu-close" class="btn-menu">
          <svg
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="https://www.w3.org/2000/svg"
          >
            <title>メニューを閉じる</title>
            <path
              clip-rule="evenodd"
              d="m7.53033 6.46967c-.29289-.29289-.76777-.29289-1.06066 0s-.29289.76777 0 1.06066l4.46963 4.46967-4.46963 4.4697c-.29289.2929-.29289.7677 0 1.0606s.76777.2929 1.06066 0l4.46967-4.4696 4.4697 4.4696c.2929.2929.7677.2929 1.0606 0s.2929-.7677 0-1.0606l-4.4696-4.4697 4.4696-4.46967c.2929-.29289.2929-.76777 0-1.06066s-.7677-.29289-1.0606 0l-4.4697 4.46963z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
        <ul class="menu-list">
          <li><a href="{{ url_for('index') }}">My Rack</a></li>
          <li><a href="{{ url_for('registration') }}">Registration</a></li>
          <li><a href="{{url_for('edit')}}">Edit</a></li>
          <li><a href="{{ url_for('prof') }}">Profile</a></li>
        </ul>
      </div>
    </nav>
    <div class="wrapper">
      <h2 id="font" class="min-title">My Rack</h2>
    </div>
    <tabel>
      <tr>
        <td>
          <a href="{{ url_for('registration') }}"
            ><button id="jumpbtn">　ADD RackContents　</button></a
          >
        </td>
        <td>
          <a href="{{url_for('edit')}}"
            ><button id="jumpbtn">　Edit RackContents　</button></a
          >
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <a href="#cdalbum"><button id="jumpbtn">　CD・ALBUM　</button></a>
        </td>
        <td>
          <a href="#dvdbr"><button id="jumpbtn">　DVD・Blu-ray　</button></a>
        </td>
        <td>
          <a href="#book"><button id="jumpbtn">　MAGAZINE　</button></a>
        </td>
      </tr>
    </tabel>
    <br />
    <a name="cdalbum">
      <h3 id="font" class="min-title">CD・ALBUM</h3>
    </a>
    <div id="jaclist"></div>
    <a name="dvdbr">
      <h3 id="font" class="min-title">DVD・Blu-ray</h3>
    </a>
    <div id="dvdlist"></div>
    <a name="book">
      <h3 id="font" class="min-title">MAGAZINE</h3>
    </a>
    <div id="blist"></div>

    <div class="all_library">
      <h1>ライブラリ一覧</h1>
      <table>
        <thead>
          <tr>
            <th>画像</th>
            <th>タイトル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          {% for item in librarys %}
          <tr>
            <td>
              <img class="sake" src="{{ item.photo.replace("project/", "") }}"
              alt="画像がでない ;;" width="200" />
            </td>
            <td class="milk">{{ item.title }}</td>
            <td cladd="ko-hi-">{{ item.selection }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
